<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>

        <!-- + enable cahning in your feed => use nuget.org from your feed -->
        <!-- <clear />
    <add key="myAwesomeFeed" value="https://pkgs.dev.azure.com/ORGANIZATION/_packaging/myAwesomeFeed/nuget/v3/index.json" /> -->

        <!-- preffer your feed, if fail then fallback to nuget.org -->
        <clear />
        <add key="myAwesomeFeed" value="https://pkgs.dev.azure.com/ORGANIZATION/_packaging/myAwesomeFeed/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

    <packageSourceCredentials>
        <myAwesomeFeed>
            <!-- credentials to your feed -->
            <add key="Username" value="user" />
            <add key="ClearTextPassword" value="readonly token" />
        </myAwesomeFeed>
    </packageSourceCredentials>
</configuration>